.button-div {
    float:right;
}

.doctor_rate {
    text-align:center;
    color: #0078bf;
}

.phone_h5 {
    color: #0078bf;
}

.header--bio__photo {
    width: 300px;
    height: 300px;
}

.doctor_space {
    height: 50px;
}